div {
    color: crimson;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    text-shadow: 2px 2px 2px #000000;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 20px;
    /* line-height: 3; */
    text-decoration: underline;
    text-indent: 50px;
    background-color: darkgrey;
    /* background-image: url("https://www.w3schools.com/cssref/paper.gif");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100px 100px; */
    /* border: 5px solid black; */
    border-right: 5px solid black;
    padding: 10px 20px 30px 40px;
    margin: 10px 20px 30px 40px;
}